# api
fastapi
uvicorn

# Qwen
transformers==4.32.0
transformers_stream_generator==0.0.4
accelerate
tiktoken
auto-gptq 
optimum
scipy
pillow
tensorboard
matplotlib
torchvision
einops
torch

# ASR
faster_whisper
soundfile
# TTS

# webui
streamlit