# api
fastapi
uvicorn

# Qwen
transformers==4.32.0
transformers_stream_generator==0.0.4
accelerate
tiktoken
auto-gptq 
optimum
scipy
pillow
tensorboard
matplotlib
torchvision
einops
torch

# ASR
faster_whisper
soundfile

# TTS
# modelscope==1.10.0
# datasets==2.18
# pyttsx3
# paddlepaddle==2.4.2
# # pytest-runner
# # urllib3==1.26.18
# paddlespeech
# numpy==1.19


# webui
streamlit

# agent
# pip install "xinference[transformers,vllm]"
langchain
openai